@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    ViewData["Cotroller"] = "Comment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayyout.cshtml";
    var a = 1;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Yorumlar </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tam ad</th>
                            <th>Başlıq</th>
                            <th>Yorum</th>
                            <th>Tarix</th>
                            <th>Xal</th>
                            <th>Bloq</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@a</th>
                                <td>@item.CommentUserName</td>
                                <td>@item.CommentTitle</td>
                                <td>@item.CommentContent</td>
                                <td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
                                @if (item.BlogPoint<=4)
                                {
                                    <td style="color: red;">@item.BlogPoint</td>
                                }else if (item.BlogPoint>=5 && item.BlogPoint<7)
                                {
                                    <td style="color: yellow;">@item.BlogPoint</td>
                                }
                                else
                                {
                                    <td style="color: green;">@item.BlogPoint</td>
                                }

                                <td><a href="~/Blog/BlogDetail/@item.BlogId"><i class="fa fa-eye"></i></a></td>
                                <td><a href="/Admin/Comment/Delete/@item.CommentId" class="btn btn-xs btn-outline btn-danger"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>